.listagem {
  padding-bottom: 60px;
}

.projetos h2 {
  padding-top: 120px;
  color: #F4E9CD;
}

.projetos img {
  max-width: 100%;

  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;

  border-width:6px;
  border-style:solid;
  border-color:#F6EDD6;
}